<!-- Static Header -->
<div class="header-text hidden-xs">
  <div class="col-md-12 text-center">
    <h2>
      <span>Welcome to <%= current_organization.title.upcase %></span>
    </h2>
    <br>
    <h3>
      <span><%= current_organization.tagline %></span>
    </h3>
    <br>
    <div class="">
      <a class="btn btn-primary btn-min-block" data-toggle="collapse" data-toggle="collapse" href="#email-login">Login</a>
      <a class="btn btn-primary btn-min-block" data-toggle="collapse" data-toggle="collapse" href="#email-signup">Register</a>
    </div>
  </div>
</div><!-- /header-text -->
